<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<body class="sidebar-overlay">
  
</body>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  
  <div class="sidebar-item">

😀 Good<br />
⛈️ Stormy, fitting.<br />
🎵 The Julie Ruin<br />
💻 Neocities, Youtube<br />
🎮 ACNH<br />
📺 Fringe Reruns<br />

</div>

<div class="sidebar-item">
  <p>
<a href="http://www.animalcrossingcommunity.com/">Animal Crossing Community</a><br />
<a href="https://www.reddit.com/r/AnimalCrossing/">r/animalcrossing</a><br />
<a href="https://www.reddit.com/r/StardewValley/">r/stardewvalley</a><br />
<a href="https://sixpenceee.com/">Sixpenceee</a><br />
<a href="https://twitter.com/swear_trek">Swear Trek</a><br />
<a href="http://www.wildelifecomic.com/">Wilde Life Comic</a>
    
  </div>
 

  
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
